/* .container {
    margin-top: 3rem;


}

.mini-container {
    background-color: white;
    width: 26.625rem;
    height: 30rem;

    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius:5px;
}

.cn {
    justify-content: center;
    align-items: center;
    display: flex;
}

.login {
   
    font-size: 29.52px;
    font-weight: 700;
    text-align: center;
    color:  black;
    margin-bottom:2rem;
    margin-top:2rem;
}

.input {
    width:23.875rem;
    height:2.375rem;
    font-size:15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
    margin-bottom:1rem ;
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;

}
.Username{
    margin-left:1rem;

}

.password {
    width:23.875rem;
    height:2.375rem;
    font-size:15px;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;
    margin-left:0rem ;
}

.Submit {
    background-color: rgba(220, 47, 43, 1);
    border: transparent;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: white;
    width: 18rem;
    height: 3rem;
    margin-bottom:1rem ;
}

.submit {
    height:2.5rem;
    top: 30.875rem;
    left:28.063;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    
}

.nono {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom:1rem ;
}

.forget:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(220, 47, 43, 1);


}
.me{
    margin-left:0.5rem;
}
.forget{
    margin-right:1rem;
}


.Account{
    display: flex;
    justify-content:center;
  }
  .sign{
    cursor: pointer;
      font: 20px;
      font-weight:bolder;
      color:rgba(220, 47, 43, 1);
     
  } */