.Mega{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img{
    display:flex ;
}
.Container{
    background-color: white;
    width: 600px;
    height:550px;   
}
.Heading{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
   justify-content: center;
   align-items: center;
   padding-left: 170px;
}
.name{
    margin-left: 2.3rem;
   display: flex;
   flex-direction: row;
justify-content: space-around;
}
.F-name{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.L-name{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.F-input{
    padding-left: 1rem;
    padding-right: 0.8rem;
    width:15rem;
    height:2.375rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom:1rem ;
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;

    
}
.L-input{
    padding-right: 0.8rem;
    width:15rem;
    height:2.375rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
    margin-bottom:1rem ;
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;
}
.email{
    padding-right: 0.8rem;
    width:32rem;
    height:2.375rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    margin-bottom:1rem ;
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;
    padding-left:12px;
}
.Email{
    padding-right: 0.8rem;
    margin-left: 2.3rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gender{
 display: flex;
 flex-direction: row;
 margin-left: 2.3rem;
 align-items: center;
 padding-bottom: 20px;
}
.male{
    margin-left: 20px;
    margin-right: 5px;
}
.country{
     margin-left: 0.1rem;
    padding-right: 0.8rem;
    padding-left:1rem;
    width:32rem;
    height:2.375rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;
    margin-bottom:1rem ;
}
.C-ountry{
    margin-left: 0.1rem;
}
.Country{
    padding-left: 1rem;
    margin-left: 1.1rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Phone{
    padding-right: 12px;
    margin-left: 2.3rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Phone-number{
    margin-left: 2.3rem;
    padding-left: 1rem;
    width:32rem;
    height:2.375rem;
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;
    margin-bottom:1rem ;
}
.btn {
    height:2.5rem;
    margin-left: 2.3rem;
    margin-top: 0.2rem;
    }
    
    .button{
        background-color: rgba(220, 47, 43, 1);
        border: transparent;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        color: white;
        width: 18rem;
        height: 3rem;
        height:2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:8rem;        
    }
.signin{
    margin-top: 2rem;
    margin-left: 12rem;
}
.in{
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-left: 0.5rem;
    color: rgba(220, 47, 43, 1);
    text-decoration: underline;
}