
@font-face {
  font-family: centra;
  src: url(../src/fonts/CentraNo2-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: centra;
  src: url(../src/fonts/CentraNo2-Book.ttf);
  font-weight: 900;
}
@font-face {
  font-family: centra;
  src: url(../src/fonts/CentraNo2-Medium.ttf);
  font-weight: 900;
}



*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body{
  margin: 1%;
  font-weight:900;
  font-size: 40px;
  overflow-x: hidden;
  position: relative;
  background-color: #070707f8 !important;
  color: rgb(213, 212, 210) !important;
  font-family: 'centra', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
  /* .Main{
    width: 100%;
    height: 100%;
display: grid;
 
} */
/* .Main{
  width: 100%; 
}
.mini{ 

  display: grid;
  grid-template-columns:150px 150px 150px 150px 150px 150px 150px 150px 150px 150px  ; 
  font-size: 10px;
}
.Data{
  background-color: burlywood;
  width: 150px;
align-items: center;
text-align: center;
place-items: center;
justify-content: center;
border: 2px solid gray;
border-radius:10px;    
}


  
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .mini{ 

      display: grid;
      grid-template-columns:80px 80px 80px 80px 80px 80px 80px 80px ; 
      font-size: 10px;
    }
    .Data{
      width: 80px;
    align-items: center;
    text-align: center;
    place-items: center;
    justify-content: center;
    border: 2px solid gray;
        
    }
    .Email{
      font-size: 7px;
    }
  
  }
  @media only screen and (min-width: 800px) and (max-width: 1200px) {
    .mini{ 
      
      display: grid;
      grid-template-columns:90px 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px ; 
      font-size: 10px;
    }
    .Data{
      
      width: 90px;
    align-items: center;
    text-align: center;
    place-items: center;
    justify-content: center;
    border: 2px solid gray;
        
    }
    .Email{
      font-size: 7px;
    }
  
  }
  @media only screen and (min-width: 360px) and (max-width: 600px) {
    .mini{ 

      display: grid;
      grid-template-columns:70px 70px 70px 70px 70px 70px   ; 
      font-size: 10px;
    }
    .Data{
      width: 70px;
    align-items: center;
    text-align: center;
    place-items: center;
    justify-content: center;
    border: 2px solid gray;
        
    }
    .Email{
      font-size: 7px;
    }
  
  } */
